html {
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
.calculator{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  overflow: hidden;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
}
#display{
  width: 100%;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: mintcream;
  padding: 20px;
  border: none;
  font-size: 4.5rem;
}
.btn-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 20px;
}
button{
  width: 80px;
  height: 80px;
  color: mintcream;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: bold;  
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
button:active{
  background-color: hsl(0, 0%, 50%);
}
.operator-btn{
  background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
  background-color: hsl(35, 100%, 75%);
}

